.pallet {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  width: 70%;
}

.currentColor {
  position: relative;
  background-color: red;
  border: 3px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 70px;
  width: inherit;
}

.color {
  position: relative;
  border: .5px solid black;
  height: 50px;
  width: inherit;
}

@media only screen and (max-width: 800px) {
  .pallet {
    width: 95%;
  }
}

.invisible {
  visibility: hidden;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.brown {
  background-color: brown;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.pink {
  background-color: pink;
}

.text-center {
  text-align: center;
}
