:root {
  --red: #FF1700;
  --orange: #FF8E00;
  --yellow: #F7EC09;
  --green: #3EC70B;
  --blue: #3B44F6;
  --purple: #A149FA;
  --pink: #FF008E;
  --black: #000000;
  --white: #FFFFFF;
}

.bg-red {
  background-color: var(--red);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-green {
  background-color: var(--green);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}

.red {
  color: var(--red);
}
.orange {
  color: var(--orange);
}
.yellow {
  color: var(--yellow);
}
.green {
  color: var(--green);
}
.blue {
  color: var(--blue);
}
.purple {
  color: var(--purple);
}
.black {
  color: var(--black);
}
.white {
  color: var(--white);
}
.pink {
  color: var(--pink);
}
